<div class="about">
    <h1>درباره سامانه</h1>

    <p>سامان چشم عقاب یک پروژه مبتنی بر هوش مصنوعی است که برای بازشناسی مکان‌های شهر تهران طراحی و پیاده‌سازی شده است. این سامانه، یک تصویر از کاربر دریافت می‌کند و با استفاده از مدل شبکه عصبی، مکان درون تصویر را تشخیص می‌دهد و متناسب با آن اطلاعات تکمیلی شامل نام، توضیحات، موقعیت جغرافیایی، گالری تصاویر آن مکان و گالری مکان‌های مشابه را ارائه می‌دهد</p>

    <p>در این سامانه با جمع‌آوری تصاویر مکان‌های مختلف شهر تهران با استفاده از خزش صفحات وب و شبکه اجتماعی اینستاگرام مجموعه داده‌ای فراهم شده است. مدل شبکه عمیق با استفاده از تصاویر جمع‌آوری شده برای بازشناسی و دسته‌بندی کردن تصاویر آموزش داده شده است. همچنین رابط کاربری این سامانه در بستر وب آماده پاسخگویی به کاربران می‌باشد</p>
</div>